<nav class="navbar">
    <div class="navbar-brand">
      <a routerLink="/">Pharmacy App</a>
      <button class="navbar-toggle" (click)="toggleNavbar()">
        ☰
      </button>
    </div>
    <ul class="navbar-links" [class.active]="isNavbarOpen">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="drugs">Drugs</a></li>
      <li><a routerLink="subscription">Subscriptions</a></li>
      <li><a routerLink="auto-fill">Refills</a></li>
      <li><a routerLink="profile">Profile</a></li>
    </ul>
  </nav>
  
